spack:
  specs:
  - access-cice @git.{{ ref }} +access3 io_type=PIO
  packages:
    access3-share:
      require:
        - '@2025.03.2:' #needs https://github.com/ACCESS-NRI/access3-share/pull/9 to work on github runner
    all:
      require:
      - '%{{ intel_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false
