spack:
  specs:
    - access-cice @git.{{ ref }} ~access3 io_type=PIO +openmp %oneapi@2025.2.0
    - access-cice @git.{{ ref }} ~access3 io_type=PIO %oneapi@2025.2.0
    - access-cice @git.{{ ref }} ~access3 io_type=NetCDF %oneapi@2025.2.0
    - access-cice @git.{{ ref }} ~access3 io_type=Binary %oneapi@2025.2.0
  packages:
    gcc-runtime:
      require:
      - '%gcc@13.2.0'
    all:
      require:
      - '%oneapi@2025.2.0'
  concretizer:
    unify: false
  view: false
