spack:
  specs:
    - access-cice @git.{{ ref }} +access3 io_type=PIO build_type=Debug
    - access-cice @git.{{ ref }} +access3 io_type=PIO
  packages:
    access3-share:
      require:
        - '@git.b060f1394e25b07bd8f2b05b917907f33da855cc'
    esmf:
      require:
        - '@git.v8.7.0=8.7.0'
    gcc-runtime:
      require:
      - '%gcc target={{ target }}'
    all:
      require:
        - '%{{ oneapi_compiler }} target={{ target }}'
  concretizer:
    unify: false
  view: false
