spack:
  specs:
    - access-cice @git.{{ ref }} ~access3 io_type=PIO +openmp %oneapi@2025.2.0 target=x86_64
    - access-cice @git.{{ ref }} ~access3 io_type=PIO %oneapi@2025.2.0 target=x86_64
    - access-cice @git.{{ ref }} ~access3 io_type=NetCDF %oneapi@2025.2.0 target=x86_64
    - access-cice @git.{{ ref }} ~access3 io_type=Binary %oneapi@2025.2.0 target=x86_64
  packages:
    gcc-runtime:
      require:
      - '%gcc target=x86_64'
    all:
      require:
      - '%oneapi@2025.2.0 target=x86_64'
  concretizer:
    unify: false
  view: false
